* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

.hero {
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("image/homepage2.webp");

    background-size: cover, cover, cover;
    background-position: center 10%;
    background-repeat: no-repeat;

    color: #fff;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 40px;
}

.hero-content {
    max-width: 600px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background: #f6b93b;
    color: #000;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background: #e58e26;
}

section {
    padding: 60px 40px;
}

.about, .services {
    max-width: 1000px;
    margin: auto;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 30px;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu a {
        margin: 5px 0;
    }
}