/* navigation */
body {
  background-color: #ffc0cb62;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  border-bottom: 1px solid #eee;
  background: #f8fe9f;
}

.nav-logo a {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
}

.nav-menu {
  display: flex;
  align-items: center; 
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
}

.nav-menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s ease;
}

.nav-menu a:hover::after {
  width: 100%;
}

.nav-icons {
  display: flex;
  gap: 20px;
  font-size: 16px;
  cursor: pointer;
}

.nav-icons i:hover {
  opacity: 0.6;
}

/*logo*/
.logo {
  height: 40px;          /* ✅ control logo size here */
  width: auto;
  object-fit: contain;
}

/* footer */
footer {
  background-color: #f8fe9f; 
  color: #1d2951;           
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

footer button {
  background-color: #ffffff; /* Same yellow as navbar */
  color: #000;               /* Black text */
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 12px;
  margin-right: 10px; /* small spacing between buttons */
}

footer button:hover {
  background-color: #ffffff; /* Darker yellow on hover */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
